/*
// record: \F235
// okay: \F147
// reset: \F158

*/

@import "mixins/index";
@import "variables/index";

#the-paste {
	//*
	// Prod mode
	width: 0;
	height: 0;
	overflow:hidden;
	position: fixed;
	left: 100%;
	top:0;
	z-index: -1;
	/*/
	// Testing mode
	width: 0;
	height: 0;
	position: fixed;
	left: -9999px;
	background-color: #fff;
	border: 1px solid currentColor;
	box-sizing: border-box;
	z-index: -1;
	&:focus,
	&:focus-within {
		left: 30px;
		top:30px;
		width: 200px;
		height: 500px;
		outline: 3px solid currentColor;
		outline-offset: 3px;
		z-index: 9999;
	}
	//*/
}

/*  */
.the-paste-instructions {

	body:not(:focus-within) {
		display: none;
	}
	.media-toolbar & {
		&:not([hidden]) {
			display: inline-block;
		}
		white-space: nowrap;
		.upload-instructions {
			display: none;
		}
	}
}

.the-paste-image-list {
	background-color: wp-color(gray-2);
	height:100%;
	.media-frame-title {
		left:0;
		background-color: #fff;
	}
	.content {
		position: absolute;
		left:0;
		top: 50px;
		bottom: 100px;
		right:0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
		grid-template-rows: repeat(auto-fit, min-content);
		grid-gap: 1em;
		border: 1em solid wp-color(gray-2);
		// padding: 2em;
		overflow:auto;
	}
	.media-frame-toolbar {
		bottom:0;
		right:0;
		left:0;
		padding: 20px;
		height: 100px;
		display: flex;
		align-items: flex-end;
		box-sizing: border-box;
		background-color: #fff;
		text-align: right;
		button {
			margin-left: auto;
		}
	}
	button[type="button"] {
		line-height: 1.5;
		padding: 0.5em 1em;
		span {
			display: block;
			margin: auto;
		}
	}
}
.the-paste-image-list-item {
	--toolbar-size: 80px;
	display:grid;
	grid-template-areas: 'canvas canvas'
		'name discard';
	grid-template-columns: auto min-content;
	grid-template-rows: calc(100% - var(--toolbar-size)) var(--toolbar-size);
	grid-gap: 1em 2em;
	padding: 2em;
	background-color: #fff;
	height: 100%;
	min-height: 450px;
	overflow: hidden;
	box-sizing: border-box;
	canvas {
		grid-area: canvas;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		background-image:
			linear-gradient(45deg, wp-color(gray-10) 25%, transparent 25%),
			linear-gradient(135deg, wp-color(gray-10) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, wp-color(gray-10) 75%),
			linear-gradient(135deg, transparent 75%, wp-color(gray-10) 75%);
		background-size:25px 25px; /* Must be a square */
		background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
	}
	.the-paste-filename {
		grid-area:name;
		color: wp-color(gray-50);
		display: flex;

		flex-direction: column;
		[type="text"] {
			display: block;
			width: 100%;
			font-size: 1.3em;
		}
	}
	.the-paste-format {
		margin-top:auto;
		// grid-area:format;
		label {
			// display: block;
			// white-space: nowrap;
		}
	}
	[name="discard"] {
		grid-area: discard;
		margin: auto;
		&,
		&:hover,
		&:focus {
			border-color: currentColor;
		}
		&:focus {
			box-shadow: 0 0 0 1px currentColor;
		}
	}
}
