/*
// record: \F235
// okay: \F147
// reset: \F158

*/

.thepaste-grabber {
	height: 100%;
	padding-top: 50px;
	box-sizing: border-box;
	overflow:auto;

	.media-frame-title {
		left:0;
		border-bottom:1px solid #ddd;
		background:#fff;
		.media-frame & {
			display:none;
		}
	}
	.image-grabber-content {
		height: 100%;
		box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
		background: none repeat scroll 0% 0% rgb(240, 240, 240);
		box-sizing: border-box;
		overflow:auto;
		padding:1em 0;
		position:relative;
	}
	.instruments {
		background:rgba(255,255,255,0.8);
		border:1px solid rgba(230,230,230,0.8);
		border-radius:3px;
		position:absolute;
		right:1em;
		bottom:1em;
		padding:1.5em;
	}
	.button-action {
		&,
		.wp-core-ui &.button.button-large {
			height:auto;
		}
		padding-top:0.3em;
		text-align:center;
		display:inline-block;
		.dashicons {
			display:block;
			font-size:3em;
			text-align:center;
			width:auto;
			line-height:0.75em;
		}
	}
}

.thepaste-pasteboard {
	.injector {
		text-align:center;
		color:rgba(0,0,0,0);
		font-style:italic;
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		right:0;
		& ~ .instructions,
		& ~ .message {
			display:none;
		}
		&:focus {
	//		background:#f00;
			& ~ .instructions,
			& ~ .message {
				display:block;
			}
			& ~ .click-here {
				display:none;
			}
		}
	}
	.instructions,
	.message,
	.click-here {
		position:absolute;
		left:0;
		right:0;
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
		margin-bottom: 0.5em;
		text-align:center;		
	}
	.instructions {
		bottom:55%;
	}
	.message {
		top:45%;
		color:#aa0000;
	}
	.click-here {
		bottom:55%;
	}
}


.thepaste-uploader {
	.image-container {
		margin:0 auto;
		text-align: center;
		& > * {
			max-width:100%;
		}
	}
	.instruments {
		& > * {
			display:block;
			float:left;
			margin-right:10px;
			&:last-child {
				margin-right:0px;
			}
		}
		.button-action {
//			float:left;
		}
		.setting {
			width:400px;
//			padding-top:2px;
			input[type="text"] {
				.media-frame & {
					font-size:16px;
				}
			}
		}
		.select-format {
//			float:left;
			padding-top:10px;
		}
	}
}

// media lib buttons
.media-toolbar-secondary {
	& > .grabber-button {
		margin:10px 10px 10px 0;
	}
}

// .wp-core-ui {
// 
// 
// 	.recorder .instruments {
// 		background:transparent;
// 		border-style:none;
// 	}
// }
// 
// div.webcam-recorder {
// 	height:100%;
// }
// 
// .recorder,
// .data-source-image {
// 	margin:0 auto;
// 	max-height:100%;
// }
// .recorder {
// }
// 
// .data-source-image {
// 	canvas {
// 		max-width:100%;
// 	}
// }
// 
// .webcam-recorder .data-source-image,
// .recorder {
// 	max-width:100%;
// }
// 
// #pasteboard-injector {
// 
// }
// 
// .image-grabber {
// 	height: 100%;
// 	padding-top: 50px;
// 	box-sizing: border-box;
// 	overflow:auto;
// 
// 	.media-frame-title {
// 		left:0;
// 	}
// 	.image-grabber-content {
// 		height: 100%;
// 		box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
// 		background: none repeat scroll 0% 0% rgb(240, 240, 240);
// 		box-sizing: border-box;
// 		overflow:auto;
// 		padding:1em 0;
// 		position:relative;
// 	}
// }
// 
// .media-frame-content .image-grabber {
// 	padding-top: 0;
// 	.media-frame-title {
// 		display: none;
// 	}
// }
// 
// .recorder-inline-content {
//     position: absolute;
//     top: 30%;
//     left: 0px;
//     right: 0px;
// 	h3 {
// 		font-size: 20px;
// 		line-height: 28px;
// 		font-weight: 400;
// 		margin-bottom: 1.6em;
// 		text-align:center;
// 	}
// 	&:focus {
// 		outline:box-shadow 0 0 10px 
// 	}
// 	text-align:center;
// }
