@import "mixins/index";
@import "variables/index";
// debug
// body#tinymce { background-color: #ccc; }

progress.the-paste-progress {
	--bar-height: 4px;
	--bar-margin: 0px;
	--bar-padding: 0px;
	--bar-color: transparent;
	--bar-background: currentColor;
	--bar-border-radius: 3px;
	padding: 1px;
	position: relative;
	background: rgba(0,0,0,0.125);
	border-radius: 3px;
	height: 6px;
	margin: 8px 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: 2px solid currentColor;
	outline-offset: 0px;
	border:none;
	&::-webkit-progress-bar {
		background-color: var(--bar-color);
		height: var(--bar-height);
	}
	&::-webkit-progress-value {
		background-color: var(--bar-background);
		border-radius: var(--bar-border-radius);
		height: var(--bar-height);
	}
	&::-moz-progress-bar {
		background-color: var(--bar-background);
		border-radius: var(--bar-border-radius);
		height: var(--bar-height);
	}
}

// .thepaste-image-placeholder {
// 	display:inline-grid;
// 	max-width:100%;
// 	position:relative;
// 	* {
// 		grid-row: 1;
// 		grid-column: 1;
// 	}
// 	&:before {
// 		content:'';
// 		background:rgba(0,0,0,0.5);
// 		grid-row: 1;
// 		grid-column: 1;
// 		order: 1;
// 	}
// 	// &:after {
// 	// 	content:attr(data-progress) '%';
// 	// 	position:absolute;
// 	// 	left:0;
// 	// 	top:50%;
// 	// 	bottom:0;
// 	// 	right:0;
// 	// 	color:#fff;
// 	// 	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// 	// 	font-size:30px;
// 	// 	font-weight:700;
// 	// 	line-height:0;
// 	// 	text-align:center;
// 	// }
// 	& > * {
// 		max-width:100%;
// 	}
// }
