@use "../../variables/index" as *;

progress.the-paste-progress {
	--bar-height: 4px;
	--bar-margin: 0px;
	--bar-padding: 0px;
	--bar-color: transparent;
	--bar-background: currentColor;
	--bar-border-radius: 3px;
	padding: 1px;
	position: relative;
	background: rgba(0,0,0,0.125);
	border-radius: 3px;
	height: 6px;
	margin: 8px 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: 2px solid currentColor;
	outline-offset: 0px;
	border:none;
	&::-webkit-progress-bar {
		background-color: var(--bar-color);
		height: var(--bar-height);
	}
	&::-webkit-progress-value {
		background-color: var(--bar-background);
		border-radius: var(--bar-border-radius);
		height: var(--bar-height);
	}
	&::-moz-progress-bar {
		background-color: var(--bar-background);
		border-radius: var(--bar-border-radius);
		height: var(--bar-height);
	}
}
